<<<<<<< Updated upstream
=======
/*
@font-face {
    font-family: NexaBold;
    src: url('../font/nexa_bold-webfont.woff2') format('woff2'),
    	 url('../font/nexa_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: NexaLight;
    src: url('../font/nexa_light-webfont.woff2') format('woff2'),
    	 url('../font/nexa_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

>>>>>>> Stashed changes
* {
	font-family: nexa_light, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background-attachment: fixed;
	background-image: url(../img/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

i {
	font-size: 2em;
}

/*.contact {
	background-color: #ffffff;
	padding: 2em;
	text-align: center;
	width: 85%;
}

.details {
	width: 25%;
}*/

.navbar {
	padding: 12px 24px;
	opacity: 90%;
}

.navbar-brand {
	width: 15%;
}

.navbar-brand img {
	width: 20%;
}

.nav-item {
	font-size: 1.5em;
	margin: 0px 24px;
	opacity: 100%;
}

.menuimg{
	display: flex;
	justify-content: center;
	padding-top: 5rem;
}

.menupic{
	transition: transform .2s;
	margin: 0 auto;
}

.menupic:hover {
	transform: scale(1.1);
}